<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>1. 基本</key>
        <array>
            <string>100-心電図波形なし</string>
            <string>201-品質不良</string>
            <string>202-四肢誘導なし</string>
            <string>203-胸部誘導なし</string>
            <string>301-右手と右足が逆?（四肢誘導電極の再確認が必要）</string>
            <string>302-他の四肢誘導接続間違い（修正済みおよびECGコード化済み）</string>
            <string>321-右手と左手が逆?（四肢誘導電極の再確認が必要）</string>
            <string>322-右手と左足が逆?（四肢誘導電極の再確認が必要）</string>
            <string>303-V1～V3接続エラーにより胸部誘導修正が可能?（ECGコード化可能）</string>
            <string>304-V4～V6接続エラーにより胸部誘導修正が可能?（ECGコード化可能）</string>
            <string>400-QRS幅が120 msを超えるいずれかの状況</string>
            <string>500-心房細動または粗動</string>
            <string>601-心室または二腔ペースメーカ</string>
            <string>602-心房ペースメーカ</string>
        </array>
        <key>2. 調律</key>
        <array>
            <string>1000-洞調律</string>
            <string>1001-洞調律</string>
            <string>1002-洞徐脈</string>
            <string>1003-洞頻脈</string>
            <string>1004-洞不整脈</string>
            <string>1010-上室期外収縮</string>
            <string>1011-心房性二段脈</string>
            <string>1012-心房性三段脈</string>
            <string>1013-心房期外収縮2連発</string>
            <string>1016-心房期外収縮頻発</string>
            <string>1017-短い心房期外収縮連発</string>
            <string>1018-長い心房期外収縮連発</string>
            <string>1020-変行伝導を伴う上室期外収縮</string>
            <string>1030-心室期外収縮</string>
            <string>1031-心室期外収縮2連発</string>
            <string>1032-多源性心室期外収縮</string>
            <string>1033-多形性心室期外収縮</string>
            <string>1034-心室性二段脈</string>
            <string>1035-心室性三段脈</string>
            <string>1036-心室期外収縮頻発</string>
            <string>1037-短い心室期外収縮連発</string>
            <string>1038-長い心室期外収縮連発</string>
            <string>1040-洞房停止またはブロックの可能性</string>
            <string>1050-心拍変動減少</string>
            <string>1060-心拍変動増大</string>
            <string>1100-移動性心房ペースメーカ</string>
            <string>1200-接合部調律</string>
            <string>1201-接合部調律</string>
            <string>1202-接合部徐脈</string>
            <string>1203-促進接合部調律</string>
            <string>1300-異所性心房調律</string>
            <string>1301-異所性心房調律</string>
            <string>1302-異所性心房徐脈</string>
            <string>1303-異所性心房頻拍</string>
            <string>1311-おそらく左房異所性中枢</string>
            <string>1304-冠状静脈洞調律</string>
            <string>1400-上室頻拍(SVT)またはnarrow QRS頻拍</string>
            <string>1401-上室頻拍、レート：130 bpm未満</string>
            <string>1402-上室頻拍、レート：130 bpm以上</string>
            <string>1403-上室頻拍</string>
            <string>1500-心房粗細動</string>
            <string>1501-型心房粗動</string>
            <string>1502-型心房粗動</string>
            <string>1503-心房細動</string>
            <string>1531-遅い心室応答を伴う心房細動</string>
            <string>1532-速い心室応答を伴う心房細動</string>
            <string>1533-房室解離および接合部調律を伴う心房細動</string>
            <string>1504-心房細動/粗動、優性房室伝導の可能性あり</string>
            <string>1600-人工ペースメーカ</string>
            <string>1601-心室ペースメーカまたは二腔ペースメーカ</string>
            <string>1602-心房ペースメーカ</string>
            <string>1700-心室頻拍</string>
            <string>1701-心室補充調律</string>
            <string>1702-頻脈性心室固有調律</string>
            <string>1703-心室粗動</string>
            <string>1704-心室細動</string>
            <string>1801-高度な頻脈</string>
            <string>1802-高度な徐脈</string>
            <string>1900-その他の異常調律分類</string>
        </array>
        <key>3. 房室伝導異常</key>
        <array>
            <string>2100-第1度房室ブロック</string>
            <string>2200-第2度房室ブロック</string>
            <string>2201-ウェンケバッハ型（モビッツI型）第2度房室ブロック</string>
            <string>2202-モビッツII型第2度房室ブロック</string>
            <string>2203-第2度多重房室ブロック</string>
            <string>2301-第3度(完全)房室ブロック</string>
            <string>2330-幅の狭いQRS複合を伴う第3度(完全)房室ブロック</string>
            <string>2331-幅の広いQRS複合を伴う第3度(完全)房室ブロック</string>
            <string>2332-幅の広いQRS複合および遅い心室レートを伴う第3度(完全)房室ブロック</string>
            <string>2400-ウォルフ･パーキンソン･ホワイト症候群(WPW)</string>
            <string>2500-PR短縮</string>
        </array>
        <key>4. 心室伝導障害</key>
        <array>
            <string>3100-左脚ブロック</string>
            <string>3101-左脚ブロック、心筋梗塞の可能性あり</string>
            <string>3200-右脚ブロック</string>
            <string>3201-右脚ブロック、心筋梗塞の可能性あり</string>
            <string>3300-確定できない心室内伝導遅延</string>
            <string>3301-心室内伝導遅延、心筋梗塞の可能性あり</string>
            <string>3401-不完全右脚ブロック</string>
            <string>3402-不完全左脚ブロック</string>
            <string>3500-左脚前枝ブロック</string>
            <string>3501-おそらく左脚前枝ブロック</string>
            <string>3502-左脚後枝ブロック</string>
            <string>3700-ブルガダ症候群</string>
            <string>3701-ブルガダ症候群、タイプ1</string>
            <string>3702-ブルガダ症候群、タイプ2</string>
            <string>3703-ブルガダ症候群、タイプ3</string>
            <string>3800-断片化したQRS</string>
        </array>
        <key>5. 再分極異常</key>
        <array>
            <string>4100-心室再分極延長</string>
            <string>4101-心室再分極の境界延長</string>
            <string>4102-心室再分極延長</string>
            <string>4201-早期再分極</string>
            <string>4202-おそらく早期再分極</string>
        </array>
        <key>6. 心筋梗塞/虚血</key>
        <array>
            <string>5001-R波増高不良</string>
            <string>5002-異常Q波</string>
            <string>5100-大きいQ波を伴う心筋梗塞</string>
            <string>5101-大きいQ波を伴う側壁心筋梗塞</string>
            <string>5102-大きいQ波を伴う下壁心筋梗塞</string>
            <string>5103-大きいQ波を伴う中隔心筋梗塞</string>
            <string>5104-大きいQ波を伴う前壁心筋梗塞</string>
            <string>5105-後側壁心筋梗塞</string>
            <string>5200-中程度のQ波およびST-T異常を伴う心筋梗塞</string>
            <string>5201-中程度のQ波およびST-T異常を伴う側壁心筋梗塞</string>
            <string>5202-中程度のQ波およびST-T異常を伴う下壁心筋梗塞</string>
            <string>5203-中程度のQ波およびST-T異常を伴う中隔心筋梗塞</string>
            <string>5204-中程度のQ波およびST-T異常を伴う前壁心筋梗塞</string>
            <string>5205-おそらくST-T異常を伴う後側壁心筋梗塞</string>
            <string>5300-中程度のQ波を伴うがST-T異常を伴わない心筋梗塞の可能性</string>
            <string>5301-中程度のQ波を伴うがST-T異常を伴わない側壁心筋梗塞の可能性</string>
            <string>5302-中程度のQ波を伴うがST-T異常を伴わない下壁Q波心筋梗塞の可能性</string>
            <string>5303-中程度のQ波を伴うがST-T異常を伴わない中隔Q波心筋梗塞の可能性</string>
            <string>5304-中程度のQ波を伴うがST-T異常を伴わない前壁Q波心筋梗塞の可能性</string>
            <string>5305-おそらくST-T異常を伴わない後側壁心筋梗塞</string>
            <string>5400-軽度のQ波およびST-T異常を伴うQ波心筋梗塞の可能性</string>
            <string>5401-軽度のQ波およびST-T異常を伴う側壁Q波心筋梗塞の可能性</string>
            <string>5402-軽度のQ波およびST-T異常を伴う下壁Q波心筋梗塞の可能性</string>
            <string>5403-軽度のQ波およびST-T異常を伴う中隔Q波心筋梗塞の可能性</string>
            <string>5404-軽度のQ波およびST-T異常を伴う前壁Q波心筋梗塞の可能性</string>
            <string>5405-後側壁心筋梗塞の可能性</string>
            <string>5500-ST異常</string>
            <string>5600-Ｔ波陰転</string>
            <string>5601-Ｔ波平低</string>
            <string>5700-軽度のQ波</string>
            <string>5800-軽度のST-T異常</string>
        </array>
        <key>7. 心室肥大および心房拡張</key>
        <array>
            <string>6100-左室肥大</string>
            <string>6101-ST-T異常を伴う左室肥大</string>
            <string>6201-左房拡張</string>
            <string>6301-右室肥大</string>
            <string>6401-右房拡張</string>
        </array>
        <key>8. 軸偏位</key>
        <array>
            <string>7100-左軸偏位</string>
            <string>7200-著明な右軸偏位</string>
            <string>7300-右軸偏位</string>
            <string>7400-極端な右軸偏位</string>
            <string>7500-不定軸</string>
            <string>7601-広いQRS-T角</string>
            <string>7602-非常に広いQRS-T角</string>
        </array>
        <key>9. その他の異常</key>
        <array>
            <string>8100-右胸心(電極を確認してください)</string>
            <string>8200-低電位QRS</string>
            <string>8201-四肢誘導低電位QRS</string>
            <string>8202-胸部誘導低電位QRS</string>
            <string>8301-反時計方向回転</string>
            <string>8302-時計方向回転</string>
            <string>8400-増高Ｔ波</string>
            <string>8500-ST上昇</string>
        </array>
    </dict>
</plist>
